<h1>Oops! Algo deu <i>bem</i> errado!</h1>
<span class="lead trunc">
    <br>
    Isso é meio constrangedor... Mas parece que um erro sério foi encontrado.<br>
    <br>
</span>
    Provavelmente trata-se de um bug no Site, e isso será resolvido, eu prometo.
    <br>
    <br>
    <div id="enviei" class="escondido">
        Um e-mail com o relatório de erros já foi enviado para mim, e seja<br>
        o que tiver acontecido, daqui a pouco eu vou ficar sabendo.<br>
    </div>
    <div id="nem" class="escondido">
        Aparentemente, esse mesmo erro já foi encontrado por você ou por outros.<br>
        Isso significa que um e-mail com o relatório já foi enviado para mim.<br>
        E também que eu já devo estar tabalhando nisso.<br>
    </div>
    <br>
    Enfim, relaxe. Daqui a pouco o problema será resolvido.<br>
    Clique <a href="javascript:location.reload()">aqui</a> para recarregar esta página
    e voltar ao que você estava fazendo.<br>
    <br>
    Desculpa qualquer coisa.<br>
    <br>
    <br>
    <small>
        Ah, e a não ser que você saiba <i>muito bem</i> o que está fazendo,<br>
        <b>ignore (mesmo)</b> o relatório de erros que segue abaixo:<br>
        <br>
        <textarea class="form-control" id="crash"></textarea>
    </small>
    <br>
    <br>
<div class="agradecimento">{} c/ &lt;3 por Bruno Borges Paschoalinoto</div>
