#editor_textarea {
    display: block !important;
    margin: 0 auto;
    width: 70% !important;
    text-align: left;
    font-size: 110%;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: auto;
    height: 30em;
}

.editor_btn {
    background-color: #ddd;
    border-radius: 4px;
    background-clip: border-box;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.3em;
    cursor: pointer;
    font-size: 80%;
    min-width: 6em;
    border: 2px solid #bbb;
}

#toolbar {
    padding-bottom: 1em;
}

.shortcut {
    font-weight: bold;
}

.glyphicon {
    font-size: 200%;
    padding: 0.1em;
}

.rev {
    transform: scaleX(-1);
}
