table {
    border-collapse: collapse;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid black;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
