#info {
    font-size: 150%;
	margin-left: 2em;
}

#conteudo {
    display: inline-block;
    margin: 0 auto;
    white-space: pre;
}

#resumo {
    text-align: left;
    max-width: 80em;
	margin-left: 1em;
	margin-right: 1em;
	white-space: pre-wrap !important;
}

.restable {
    width: auto;
}

code, .mono, code * {
    font-family: monospace !important;
    white-space: pre;
}

span {
    font-family: inherit;
}

sup, sub {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 1px;
    font-size: 0.7em;
}

sub {
    vertical-align: sub;
}

sup {
    vertical-align: super;
}

b, i, u {
    color: inherit;
}

.oldbig {
    font-size: 2.0em;
    font-weight: bold;
    margin-left: -4px;
}

.nocolor {
    color: inherit !important;
}

img {
    max-width: 33%;
    max-height: 500px;
}

#info tr td {
    padding: 0.2em;
}
