body {
    padding-top: 0.2em;
    text-align: center;
    min-height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 300%;
}

.links a {
    font-size: 200%;
}

.borked {
	color: #ef3737;
}

.borked:hover, .borked:visited, .borked:focus {
	color: #ce2929;
}

.agradecimento {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: monospace;
    color: #1F7A00;
    background-color: #C9C9C9;
}

.ano1 {
    color: #ff0000;
}
.ano2 {
    color: #0033cc;
}
.ano3 {
    color: #009900;
}

.trunc {
    max-width: 75%;
    margin: 0 auto;
}

.escondido {
    display: none;
}

.toplinks {
    font-size: 120%;
    line-height: 2em;
}

.form-control {
    display: inline-block !important;
    width: auto !important;
}

.err, #err {
    color: red;
}

.nicegreen, .success, #success {
    color: #319C0C;
}

.licao {
    display: inline-block;
    max-width: 90%;
}

.licao-normal-text {
    font-size: 125%;
	white-space: pre-wrap;
}

.autorlicao {
    padding-top: 0em;
    font-size: 110%;
    font-style: italic;
}

.paradia {
    font-size: 80%;
    padding-top: 0.4em;
    display: block;
}

.iconbut {
    font-size: 125%;
}

.darkmode {
    color: #D1FFD6;
    background-color: #10110E;
}

.imgbtn {
    cursor: pointer;
}

.itable {
    display: inline-table;
    width: auto;
}

.horario {
    font-size: 80%;
    max-width: 100%;
}

.intervalo td {
    font-weight: bold;
    letter-spacing: 2em;
    text-indent: 2em;
    text-align: center;
    background-color: rgb(221, 221, 221) !important;
}

.horario thead th, #horario tr td {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    border: 1px solid rgb(121, 121, 121);
    border-top: 1px solid rgb(121, 121, 121) !important;
    border-bottom: 1px solid rgb(121, 121, 121) !important;
}

#horario tr td {
    background-color: #B8FAB3;
}

.horario thead th {
    background-color: #A3E2F7;
}

.small-below-textarea {
    font-size: 60%;
}

#msg_sala {
	display: inline-block;
	white-space: pre-wrap;
	max-width: 60%;
}

.aleft {
    text-align: left !important;
	display: block;
}

.niver {
    position: relative;
    bottom: 0.25em;
    font-size: 90%;
}

#crash {
    font-family: monospace;
    width: 50em !important;
    height: 25em;
    max-width: 75%;
}

#sala_prova_matriz {
    font-size: 75%;
}

#header_matriz {
    font-size: 70%;
}

#lugares_matriz tr td input {
    width: 3em;
    font-family: monospace;
}
